<% layout('layout/../boilerplate.ejs') %>

<div style="background: linear-gradient(to bottom, grey, rgb(204, 203, 203));">
    <form action="/profile/edit/<%= u._id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="validated-form mt-3" novalidate>
        <div class="" style="display: grid; justify-content: center; align-items: center; font-size: 21px;">
            <center><h2 style="font-size: 37px; font-weight: bold;" class="mb-1 mt-3">Edit Profile</h2></center>
            <div class="mb-3 mt-3">
                <label class="form-label" for="fullname">Full Name: </label>
                <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="text" name="fullname" id="fullname" value="<%= u.fullname %>" required>
                <div class="invalid-feedback">
                    Please enter Name
                </div>
            </div>

            <div class="mb-3">
                <% if(currentUser.username==='Admin'){ %>
                    <label for="username">Admin Id: </label>
                <% } else { %>
                    <label for="username">Enrollment Number: </label>
                <% } %>
                <input class="form-control" style="border: 0.01cm solid black; width: 300px; cursor: not-allowed;" type="text" name="username" id="username" value="<%= u.username %>"  disabled required>
                <div class="invalid-feedback">
                    Please enter enrollment number
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Semester">Semester: </label>
                <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="text" name="semester" id="semester" value="<%= u.semester %>" required>
                <div class="invalid-feedback">
                    Please enter your current semester
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="personalemail">Personal Email Id: </label>
                <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="email" name="personalemail" id="personalemail" value="<%= u.personalemail %>" required>
                <div class="invalid-feedback">
                    Please add personal email
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="gsuite">Gsuite Id: </label>
                <input class="form-control" style="border: 0.01cm solid black; width: 300px; cursor: not-allowed;" type="email" name="gsuite" id="gsuite" value="<%= u.gsuite %>" disabled required>
                <div class="invalid-feedback">
                    Please add gsuite ID
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="mobilenumber">Contact Number: </label>
                <input class="form-control" style="border: 0.01cm solid black; width: 300px;" type="text" name="mobilenumber" id="mobilenumer" value="<%= u.mobilenumber %>" required>
                <div class="invalid-feedback">
                    Please enter your contact number
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Add Image: </label>
                <input type="file" name="image" id="image" style="border: 1px solid black; max-width: 298px;" class="form-control">
            </div>

            <button type="submit" class="btn btn-success mb-3" style="font-size: 18px;">Edit</button>
            <a class="btn btn-outline-dark mb-4" href="/viewprofile" type="submit">Back to Profile</a>

        </div>
    </form>

</div>